@import "tailwindcss";

@font-face {
  font-family: "hb";
  src: url("/fonts/HussarBold-7mRE.otf") format("opentype");
  font-style: normal;
}

@theme {
  --breakpoint-1xl: 90rem; /* 1440px */
  --breakpoint-2-5xl: 108rem; /* 1728px */
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 136.25rem; /* 2180px */
  --font-hb: "hb", sans-serif !important;
  --shadow-smooth: 0 6px 16px rgba(0, 0, 0, 0.04);
  --shadow-5xl: 0 9px 46px 8px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.14),0 11px 15px rgba(0,0,0,.2)!important;
  --color-greyish-300: rgb(176, 185, 208);
  --color-greyish-400: rgb(144, 153, 176);
  --color-blueish-600: rgb(55, 68, 88);
  --color-reddish-500: rgba(239, 94, 99, 1);
}

.bg-main {
  background: radial-gradient(
    circle at 20% 20%, 
    #f7f8ff, 
    #f4f6f9, 
    #ebeff5
  );
}

.bg-nav {
  background: radial-gradient(
    circle at 20% 20%,
    #54657a,
    #344458,
    #253447
  );
}

input::placeholder {
  font-style: italic;
}

.loader-circle {
  border: 4px solid rgba(0,0,0,0.1);
  border-top-color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
}

.shimmer {  
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}